In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
 df = pd.read_csv("data/hasil_concat_rating.csv")
df.head()

,abal,abal file,abal lazada,abal nih,activationnyacode,activationnyacode nyaa,admin kl,agustus,agustus kode,ah tampil,...,yaudalah,yaudalah ribu,yeee,yet,yet hope,ygcabang,ygcabang beli,zippernya,zippernya kecewa,rating
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [6]:
df.columns

Index(['abal', 'abal file', 'abal lazada', 'abal nih', 'activationnyacode',
       'activationnyacode nyaa', 'admin kl', 'agustus', 'agustus kode',
       'ah tampil',
       ...
       'yaudalah', 'yaudalah ribu', 'yeee', 'yet', 'yet hope', 'ygcabang',
       'ygcabang beli', 'zippernya', 'zippernya kecewa', 'rating'],
      dtype='object', length=3501)

In [5]:
df.drop(columns='Unnamed: 0', inplace=True)

In [8]:
X= df.drop(columns='rating')
y = df.rating

In [ ]:
train_test_split()