In [1]:
import pandas as pd
import numpy as np

In [1]:
from jcopml.tuning import random_search_params as rsp

In [2]:
rsp.rf_params

{'algo__n_estimators': Integer(low=100, high=200),
 'algo__max_depth': Integer(low=20, high=80),
 'algo__max_features': Real(low=0.1, high=1, prior='uniform'),
 'algo__min_samples_leaf': Integer(low=1, high=20)}

In [3]:
rsp.svm_params

{'algo__gamma': Real(low=-3, high=3, prior='log-uniform'),
 'algo__C': Real(low=-3, high=3, prior='log-uniform')}

In [23]:
df = pd.read_csv("data/data_teks_prep")
df.head()

,Unnamed: 0,rating,reviewContent,teks_setelah_prep
0,0,5,bagus mantap dah sesui pesanan,bagus mantap sesui pesan
1,1,4,"Bagus, sesuai foto",bagus sesuai foto
2,2,5,okkkkk mantaaaaaaapppp ... goood,okkkkk mantaaaaaaapppp goood
3,3,4,bagus sesuai,bagus sesuai
4,7,1,bima,bima

In [ ]:
pd.cut(df.rating, bins = [])

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107029 entries, 0 to 107028
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         107029 non-null  int64
 1   rating             107029 non-null  int64
 2   reviewContent      107029 non-null  object
 3   teks_setelah_prep  106455 non-null  object
dtypes: int64(2), object(2)
memory usage: 3.3+ MB

In [25]:
df['rating'] = df.rating.map({5:'baik', 4:"baik", 3:"netral", 2: 'jelek', 1:"jelek"})

In [33]:
df.head()

  rating                     reviewContent             teks_setelah_prep
0   baik   bagus  mantap dah sesui pesanan      bagus mantap sesui pesan
1   baik                Bagus, sesuai foto             bagus sesuai foto
2   baik  okkkkk mantaaaaaaapppp ... goood  okkkkk mantaaaaaaapppp goood
3   baik                      bagus sesuai                  bagus sesuai
4  jelek                              bima                          bima

In [32]:
df.columns

Index(['rating', 'reviewContent', 'teks_setelah_prep'], dtype='object')

In [31]:
df.drop(columns='Unnamed: 0', inplace=True)

{(5, 4): 'baik', 3: 'netral', (2, 1): 'jelek'}

In [34]:
import pickle

In [38]:
modelyangdisimpan=pickle.load(open("file model/tfidf.pkl","rb")) #rb= read binary`b

In [44]:
X = modelyangdisimpan.toarray()
X.shape

(4970, 21547)